<ul>

    <!-- on boucle sur le tableau datas transmi depuis un contrôleur-->
        <% for(const data of datas) {%>
    <!-- !-- affichage de chaque donnée récoltée --> 
        <li><%= data.title %></li>
    
        <% } %>
    </ul>